
{% extends 'base.html' %}
{% block content %}

<section class="profile">
    <img src="{{user.profile_pic}}" alt="Rosius" class="profile__profile-pic">

    <div class="profile__details">

        <div class="profile__details--full-names">{{user.full_names}}</div>
        <div class="profile__details--email">{{user.email}}</div>
        <div class="profile__details--phone-number">{{user.phone_number}}</div>
        <div class="profile__details--address">{{user.address}}</div>

        <a href="{{url_for('profile.update_profile',user_id=user.user_id)}}" class="profile__details--edit-btn">Edit Profile</a>
    </div>


   </section>

{%endblock %}