{% extends "base.html" %}

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

             {% block menu %}
              <div class="header">

                <div class="header__title">
                    <div class="header__title--text">
                        Update Profile
                    </div>
                    <div class="header__title--hor">

                    </div>
                </div>



            </div>
             {% endblock %}

                   {% block content %}
 {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
                   <form action="" class="content" method="post" enctype="multipart/form-data" novalidate>
                {{form.hidden_tag()}}

                       <img src="{{form.photo.data}}" alt="Rosius" class="content__picture"><br>

                       {{ form.photo(class_='content__picture-btn') }}
                       {{form.full_names(placeholder=form.full_names.label.text,size=32,class_="content__full_names")}}

                    {{form.email(placeholder=form.email.label.text, size=32,class_="content__email")}}
                    {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{form.phone_number(placeholder=form.phone_number.label.text,size=32,class_="content__phone-number")}}
                       {{form.address(placeholder=form.address.label.text,size=32,class_="content__address")}}



            {{form.submit(class_="content__btn")}}

                   </form>

                  {% endblock %}











