<!DOCTYPE html>
<html en="lang">

    <head>


        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>&mdash;artsy</title>
    </head>
    <body>

        <div class="container">

        <div class="sidebar">
            <div class="sidebar__top">
                <ul class="sidebar__top--list">
                    <li class="sidebar__top--list--item"><a href="#" class="sidebar__top--item">facebook</a></li>
                    <li class="sidebar__top--list--item"><a href="https://www.instagram.com/rosius/" target="_blank" class="sidebar__top--item">instagram</a></li>
                    <li class="sidebar__top--list--item"><a href="https://twitter.com/atehrosius" target="_blank" class="sidebar__top--item">twitter</a></li>
                    <li class="sidebar__top--list--item"><a href="#" class="sidebar__top--item">whatsapp</a></li>
                    
                </ul>
            </div>
            <div class="sidebar__middle">
{% if g.user %}
<a class="sidebar__middle--link" href="{{ url_for('profile.view_profile',user_id=g.user['user_id'])}}">
                     <img src="{{g.user.profile_pic}}" alt="Rosius" class="sidebar__middle--img">

</a>
                {%else %}
                <div class="sidebar__middle--link">
                   <img src="/static/img/SVG/account_white.svg" alt="profile" class="sidebar__middle--img">
                </div>

                {%endif%}

                
                  <svg class="sidebar__middle--cart">
                      <use xlink:href="/static/img/SVG/sprites.svg#icon-shopping-bag"></use>
                  </svg>
             
              </div>
            <div class="sidebar__footer">
                <div class="sidebar__footer--a">
                    a
                </div>
                <div class="sidebar__footer--r">
                    r
                </div>
                <div class="sidebar__footer--tsy">
                    tsy
                </div>
            </div>
        

        </div>
       
         <section class="main-section">
        {% block menu %} {% endblock %}
 {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   {% block content%} {%endblock%}
{% if g.user %}
 <a href="{{url_for('item.add_item',user_id=g.user.user_id)}}" class="fab">
    <svg class="fab__icon">
        <use xlink:href="/static/img/SVG/sprites.svg#icon-plus"></use>
    </svg>
   </a>
             {% endif %}
</section>
       
      

   

        </div>

    </body>
</html>