{% extends 'base.html' %}

{% block menu %}
<nav class="menu">
        <ul class="nav">
          <li class="nav__item"> <a href="#" class="nav__link nav__link--active"> Who we are </a>
          </li>
          <li class="nav__item"> <a href="#" class="nav__link"> Shop Now </a></li>
          <li class="nav__item"> <a href="#" class="nav__link"> Contact Us </a></li>
          <li class="nav__item"> <a href="#" class="nav__link"> Clients Say </a></li>
            {% if g.user %}

          <li class="nav__item"> <a href="{{url_for('auth.logout')}}" class="nav__link"> Log Out </a></li>
            {% else %}
               <li class="nav__item"> <a href="{{url_for('auth.login')}}" class="nav__link"> Login </a></li>
            {% endif %}
        </ul>



    </nav>
{% endblock %}
{% block content %}
<div class="orders">
    {% for item in items %}
 <div class="order">
        <img src="{{item.image_url}}" alt="Order image" class="order__img">
        <h5 class="order__price">{{item.price}}FCFA</h5>
        <p class ="order__desc">{{item.description}} </p>

        <a class="order__btn">
            Order Now
        </a>
    </div>
{% else %}
<p>No Items found</p>
{% endfor %}

</div>

{% endblock %}