<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>&mdash;artsy</title>
</head>
 <body>
       <div class="login-body">
            {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
        <div class="login-body__title">
            <div class="login-body__title--a">
                a
            </div>
            <div class="login-body__title--r">
                r
            </div>
            <div class="login-body__title--tsy">
                tsy
            </div>

        </div>



                {% block content %} {% endblock %}


       </div>

    </body>
</html>