{% extends 'login_base.html' %}
{% block content %}
<div class="login-body__form">
               <div class="login-body__form--title">
                   Login
               </div>

               <img src="static/img/SVG/secure_login.svg" alt="Secure Login" class="login-body__form--art">
            <form action="#" method="POST" class="login-body__form--zone" novalidate>
                {{form.hidden_tag()}}
                {{form.full_names(placeholder=form.full_names.label.text,size=32,class_="login-body__form--zone--email")}}
                {{form.email(placeholder=form.email.label.text,size=32,class_="login-body__form--zone--email")}}
                {{form.password(placeholder=form.password.label.text,size=32,class_="login-body__form--zone--password")}}
                {{form.submit(class_="login-body__form--zone--submit")}}

              <div class="login-body__form--zone--already">
                <span>Already Have An Account ?</span>
            </div>
            <Button class="login-body__form--zone--register-btn">
                Log In
            </Button>
            <Button class="login-body__form--zone--google-btn">
                <svg class="login-body__form--zone--google-btn--icon">
                    <use xlink:href="static/img/SVG/sprites.svg#icon-google"></use>
                </svg>
                <span>Create Account With Google</span>

            </Button>
            </form>


           </div>

{% endblock %}